<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
         bootstrap="vendor/autoload.php"
         failOnRisky="false"
         processIsolation="false"
         stopOnError="true"
         stopOnFailure="true"
         printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer"
         verbose="true"
>
    <testsuites>
        <testsuite name="Array">
            <directory>./test/arrayTests</directory>
        </testsuite>
        <testsuite name="String">
            <directory>./test/stringTests</directory>
        </testsuite>
    </testsuites>
</phpunit>
